{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Businnes, Portfolio, Corporate">
	<meta name="Author" content="WebThemez">
    <title>Nelly Kara website</title>
    <link rel="shortcut icon" href="https://ucarecdn.com/b9281139-f9ff-4ceb-8ba4-c5847786d4fe/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="{ % static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{ % static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{ % static 'css/font-awesome/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{ % static 'elegant_font/style.css' %}" />
    <!--[if lte IE 7]><script src="{ % static 'elegant_font/lte-ie7.js' %}"></script><![endif]-->
    <link rel="stylesheet" href="{ % static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{ % static 'css/slider-pro.css' %}">
    <link rel="stylesheet" href="{ % static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{ % static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{ % static 'css/owl.transitions.css' %}">
    <link rel="stylesheet" href="{ % static 'css/animate.css' %}">
	    <link rel="stylesheet" href="{ % static 'elegant_font/style.css' %}">
    <link rel="stylesheet" href="{ % static 'css/style1.css' %}">

    <!--[if lt IE 9]>
        <script src="{ % static 'js/html5shiv.min.js' %}"></script>
        <script src="{ % static 'js/respond.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/selectivizr.js' %}"></script>
    <![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="status"></div>
    </div>

    <!-- Header End -->
    <header>
        <!-- Navigation Menu start-->

	<nav id="topNav" class="navbar navbar-default main-menu">
    <div class="container">
        <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            ☰
        </button>
		 <a class="navbar-brand page-scroll" href="#slider"><img class="logo" id="logo" src="images/logo.png" alt="logo"></a>
        <div class="collapse navbar-toggleable-sm" id="collapsingNavbar">
            <ul class="nav navbar-nav">
                 <li class="active">
                            <a href="#slider">ГЛАВНАЯ</a>
                        </li>
                        <li>
                            <a href="#about">ОБО МНЕ</a>
                        </li>
						 <li>
                            <a href="#services">ВИДЫ ФОТОСЕССИЙ</a>
                        </li>

                        <li>
                            <a href="#portfolio">Галлерея</a>
                        </li>

                        <li>
                            <a href="#contact">Свяжитесь с нами</a>
                        </li>
            </ul>
        </div>
    </div>
</nav>


    </header>
    <!-- Header End -->


    <section class="slider-pro slider" id="slider">
        <div class="sp-slides">

            <!-- Slides -->
            <div class="sp-slide main-slides">
                <div class="img-overlay"></div>

                <img class="sp-image" src="https://ucarecdn.com/1349a256-42e3-422f-af39-9da3ec02ba4e/snll5dNjpaU.jpg" alt="Slider 1"/>

                <h1 class="sp-layer slider-text-big"
                data-position="bottom" data-vertical="25%" data-show-transition="top" data-hide-transition="top" data-show-delay="1500" data-hide-delay="200">
                <span class="highlight-texts">1</span>
                </h1>

                <p class="sp-layer"
                data-position="center" data-vertical="25%" data-show-delay="2000" data-hide-delay="200" data-show-transition="top" data-hide-transition="bottom">
                Любые виды фотосессий
                </p>
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide main-slides">
            <div class="img-overlay"></div>
                <img class="sp-image" src="https://ucarecdn.com/06a930cc-498f-4d69-8206-8edbb9321443/TrwjobCiCYs.jpg" alt="Slider 2"/>

                 <h1 class="sp-layer slider-text-big"
                data-position="bottom" data-vertical="25%" data-show-transition="top" data-hide-transition="top" data-show-delay="1500" data-hide-delay="200">
                <span class="highlight-texts">2</span>
                </h1>

                <p class="sp-layer"
                data-position="center" data-vertical="25%" data-show-delay="2000" data-hide-delay="200" data-show-transition="top" data-hide-transition="bottom">
                За 5 минут найдем общий язык
                </p>
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide main-slides">
                <div class="img-overlay"></div>

                <img class="sp-image" src="https://ucarecdn.com/5ec9b8ab-28db-4de6-bccf-03fd1dd2011d/kSKskU4ghvQ.jpg" alt="Slider 3"/>

                <h1 class="sp-layer slider-text-big"
                data-position="bottom" data-vertical="25%" data-show-transition="top" data-hide-transition="top" data-show-delay="1500" data-hide-delay="200">
                <span class="highlight-texts">3</span>
                </h1>

                <p class="sp-layer"
                data-position="center" data-vertical="25%" data-show-delay="2000" data-hide-delay="200" data-show-transition="top" data-hide-transition="bottom">
                Помогу подобрать образ
                </p>
            </div>
            <!-- Slides End -->

        </div>
    </section>
    <!-- Main Slider End -->


    <section id="about" class="about-sec section-wrapper description">
        <div class="container">
            <div class="row">
                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">Обо мне</span></h2>

                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">На районе меня называют Каралка, но по масти я уже Ралка, 20 лет в фотоиндустрии, имею нобелевскую премию в области позирования.</p>
                </div>
                <!-- Section Header End -->

                <div class="col-md-6 col-sm-6 col-xs-12 custom-sec-img wow fadeInDown">
				<div class="featuredImg">
                    <img src="https://ucarecdn.com/cd4a314b-f454-484a-8bc7-f1adec022768/bIHYPLB1YS8.jpg" alt="Custom Image"/>
					</div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 customized-text wow fadeInDown black-ed">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa sit, numquam amet voluptatibus obcaecati ea maiores totam nostrum, ad iure rerum quas harum ipsum.  lobcaecati ea maiores totam nostrum, ad iure rerum quas harum ipsum. Rem ea ducimus quos quae quo.</p>
                    <div class="row">
                        <div class="col-md-11">
                            <strong>Любые виды фотосессий</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam iusto, natus est ducimus saepe laborum</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <strong>За 5 минут найдем общий язык</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam iusto, natus est ducimus saepe laborum Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <strong>Помогу подобрать образ </strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam iusto, natus est ducimus saepe laborum Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="section-wrapper">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">Виды фотосессий</span></h2>

                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque.</p>
                </div>
                <!-- Section Header End -->

                <div class="our-services">


		 <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".2s">
						<div class="service-box">
                            <div class="icon"> <h3>Портрет </h3>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla.</p>
							<img src="https://ucarecdn.com/b7c23fe7-c0fd-47be-99f8-34abb5d70e5e/4.jpg" alt="Custom Image">
							</div>
</div>
                        <div class="col-md-4 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".2s">
						<div class="service-box">
                            <div class="icon"> <h3>Семейные  </h3>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla.</p>
							<img src="https://ucarecdn.com/2c643bb6-d3b9-4c03-bd58-1ee4e7660114/1.jpg" alt="Custom Image">
                        </div>
</div>
                        <div class="col-md-4 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".2s">
						<div class="service-box">
                            <div class="icon"> <h3>Свадьбы </h3>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla.</p>
							<img src="https://ucarecdn.com/0a497a7e-cdae-4136-af99-e380c8b8b427/1.jpg" alt="Custom Image">
                        </div>
</div>

                    </div>
                    <div class="row">

                             <div class="col-md-4 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".2s">
						<div class="service-box">
                            <div class="icon"> <h3>Детские праздники</h3>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla.</p>
							<img src="https://ucarecdn.com/60e4c05e-bea6-4852-a6f6-3287d5ab4053/3.jpg" alt="Custom Image">
							</div>
</div>
                        <div class="col-md-4 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".2s">
						<div class="service-box">
                            <div class="icon"> <h3>Love is  </h3>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla.</p>
							<img src="https://ucarecdn.com/29f7c8e2-a218-4055-bdc6-f9814ea9ba01/CvWcLDvzopc.jpg" alt="Custom Image">
                        </div>
</div>
                        <div class="col-md-4 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".2s">
						<div class="service-box">
                            <div class="icon"> <h3>Подумать </h3>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla.</p>
							<img src="https://ucarecdn.com/60e4c05e-bea6-4852-a6f6-3287d5ab4053/3.jpg" alt="Custom Image">
                        </div>
</div>
                    </div>
                </div>

            </div>
        </div>
    </section>




    <section id="portfolio" class="bgSection portfolio-section">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">Галлерея</span></h2>

                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque.</p>
                </div>
                <!-- Section Header End -->

            </div>
        </div>

        <!-- Works -->
        <div class="portfolio-works wow fadeIn" data-wow-duration="2s">

            <!-- Filter Button Start -->
            <div id="portfolio-filter" class="portfolio-filter-btn-group">
                <ul>
                    <li>
                        <a href="#" class="selected" data-filter="*">Все</a>
						<a href="#" data-filter=".web">Портрет</a>
						<a href="#" data-filter=".seo">Семейные</a>
						<a href="#" data-filter=".works">Свадебные</a>
						<a href="#" data-filter=".brands">Детские праздники</a>
                    </li>
                </ul>
            </div>
            <!-- Filter Button End -->

            <div class="portfolio-items">

                <!-- Portfolio Items -->
                <div class="item portfolio-item web ">

                    <img src="images/img-portfolio/portfolio1.jpg" alt="">
                    <div class="portfolio-details-wrapper">
                        <div class="portfolio-details">
                            <div class="portfolio-meta-btn">
                                <ul class="work-meta">
                                    <li class="lighbox"><a href="images/img-portfolio/portfolio1.jpg" class="featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item portfolio-item seo">

                    <img src="images/img-portfolio/portfolio2.jpg" alt="">
                    <div class="portfolio-details-wrapper">
                        <div class="portfolio-details">
                            <div class="portfolio-meta-btn">
                                <ul class="work-meta">
                                    <li class="lighbox"><a href="images/img-portfolio/portfolio2.jpg" class="featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item portfolio-item brands">

                    <img src="images/img-portfolio/portfolio3.jpg" alt="">
                    <div class="portfolio-details-wrapper">
                        <div class="portfolio-details">
                            <div class="portfolio-meta-btn">
                                <ul class="work-meta">
                                    <li class="lighbox"><a href="images/img-portfolio/portfolio3.jpg" class="featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item portfolio-item web ">

                    <img src="images/img-portfolio/portfolio4.jpg" alt="">
                    <div class="portfolio-details-wrapper">
                        <div class="portfolio-details">
                            <div class="portfolio-meta-btn">
                                <ul class="work-meta">
                                    <li class="lighbox"><a href="images/img-portfolio/portfolio4.jpg" class="featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio Items -->

                <!-- Portfolio Items -->
                <div class="item portfolio-item web ">

                   <img src="images/img-portfolio/portfolio5.jpg" alt="">
                    <div class="portfolio-details-wrapper">
                        <div class="portfolio-details">
                            <div class="portfolio-meta-btn">
                                <ul class="work-meta">
                                    <li class="lighbox"><a href="images/img-portfolio/portfolio5.jpg" class="featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item portfolio-item web">

                    <img src="images/img-portfolio/portfolio6.jpg" alt="">
                    <div class="portfolio-details-wrapper">
                        <div class="portfolio-details">
                            <div class="portfolio-meta-btn">
                                <ul class="work-meta">
                                    <li class="lighbox"><a href="images/img-portfolio/portfolio6.jpg" class="featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <div class="item portfolio-item web">

                    <img src="images/img-portfolio/portfolio7.jpg" alt="">
                    <div class="portfolio-details-wrapper">
                        <div class="portfolio-details">
                            <div class="portfolio-meta-btn">
                                <ul class="work-meta">
                                    <li class="lighbox"><a href="images/img-portfolio/portfolio7.jpg" class="featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item portfolio-item works">

                    <img src="images/img-portfolio/portfolio8.jpg" alt="">
                    <div class="portfolio-details-wrapper">
                        <div class="portfolio-details">
                            <div class="portfolio-meta-btn">
                                <ul class="work-meta">
                                    <li class="lighbox"><a href="images/img-portfolio/portfolio8.jpg" class="featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->



            </div>
        </div>
        <!-- Works End -->


    </section>
    <!-- Portfolio Section End -->









    <div class="parallax-overlay"></div>
    <div class="container">
        <div class="row">

            <!-- Section Header -->
            <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                <h2><span class="highlight-text">Свяжитесь с нами</span></h2>

                <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Ниже Влад уже твой выход с контактами, ты говорил можно какую-то штуку с whatsapp сделать</p>
            </div>
            <!-- Section Header End -->

            <div class="contact-details">


                <!-- Contact Form -->
                <div class="contact-form wow bounceInRight">

                    <!--NOTE: Update your email Id in "contact_me.php" file in order to receive emails from your contact form-->
                    <form name="sentMessage" id="contactForm"  novalidate>
                        <div class="col-md-6">
                            <input type="text" class="form-control"
                                   placeholder="Имя" id="name" required
                                   data-validation-required-message="Please enter your name" />
                            <p class="help-block"></p>
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control" placeholder="Email"
                                   id="email" required
                                   data-validation-required-message="Please enter your email" />
                        </div>

                        <div class="col-md-12">
		<textarea rows="10" cols="100" class="form-control"
                  placeholder="Сообщение" id="message" required
                  data-validation-required-message="Please enter your message" minlength="5"
                  data-validation-minlength-message="Min 5 characters"
                  maxlength="999" style="resize:none"></textarea>
                        </div>

                        <div class="col-md-8 col-md-offset-2"><br><div id="success"> </div><button type="submit" class="btn btn-primary">Отправить сообщение</button></div>
                    </form>
                </div>

            </div>
        </div>




        <!-- Contact Section End -->
    <section class="footer-container">
        <div class="container">
            <div class="row footer-containertent">
                <div class="col-md-4">
                    <img src="images/logo.png" alt=""> <br/> <br/>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et porro quos iste ratione doloribus asperiores, error omnis delectus rerum sapiente. Et, aliquam modi beatae quae in perferendis ab est fugiat!</p>
                </div>
                <div class="col-md-4">
                    <h4>News & Updates</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque.</p>
                </div>
                <div class="col-md-4 contac-us">
                    <h4>Contact Us</h4>
                    <p>Lorem ipsum dolor sit amet adipisicing elit.</p>
					<ul>
                            <li><i class="fa fa-home"></i>123 New Venu Street</li>
                            <li><i class="fa fa-phone"></i>001 123 12345 99</li>
                            <li><i class="fa fa-envelope-o"></i>support@website.com</li>
                        </ul>
                </div>
            </div>
        </div>
    </section>


    <footer>

        <div class="container">
            <div class="row">
                <div class="footer-containertent">

                    <ul class="footer-social-info">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
					<br/><br/>
<p>Copyright © 2021. <a target="_blank" href="https://webthemez.com/tag/free" >Free Website Template</a> by WebThemez.com. All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <script src="{ % static 'js/jquery-1.11.3.min.js' % }"></script>
    <script src="{ % static 'js/bootstrap.min.js' % }"></script>
    <script src="{ % static 'js/modernizr.min.js' % }"></script>
    <script src="{ % static 'js/jquery.easing.1.3.js' % }"></script>
    <script src="{ % static 'js/jquery.scrollUp.min.js' % }"></script>
    <script src="{ % static 'js/jquery.easypiechart.js' % }"></script>
    <script src="{ % static 'js/isotope.pkgd.min.js' % }"></script>
    <script src="{ % static 'js/jquery.fitvids.js' % }"></script>
    <script src="{ % static 'js/jquery.stellar.min.js' % }"></script>
    <script src="{ % static 'js/jquery.waypoints.min.js' % }"></script>
    <script src="{ % static 'js/wow.min.js' % }"></script>
    <script src="{ % static 'js/jquery.nav.js' % }"></script>
    <script src="{ % static 'js/imagesloaded.pkgd.min.js' % }"></script>
    <script src="{ % static 'js/smooth-scroll.min.js' % }"></script>
    <script src="{ % static 'js/jquery.magnific-popup.min.js' % }"></script>
    <script src="{ % static 'js/jquery.sliderPro.min.js' % }"></script>
    <script src="{ % static 'js/owl.carousel.min.js' % }"></script>
 <script src="{ % static 'contact/jqBootstrapValidation.js' % }"></script>
 <script src="{ % static 'contact/contact_me.js' % }"></script>
    <script src="{ % static 'js/custom.js' % }"></script>

</body>
</html>
